<%-  include ('header') %>

<div class="box">
    <h1 id='heading'><%= day %></h1>
</div>

<div class="box">
    <% for( let index = 0; index < items.length; index++ ) { %>
        <div class="item">
            <input type="checkbox">
            <p><%= items[index] %></p>
        </div>
    <% } %>
    <form class='item' action="/school" method="post">
        <input type="text" name="newItem" placeholder="New Item"/>
        <button type="submit" name="button">+</button>
    </form>
</div>

<%- include('footer') %>
